<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
      <behaviors>
          <endpointBehaviors>
              <behavior name="restfulEndpointBehaviour">
                  <webHttp />
              </behavior>
          </endpointBehaviors>
          <serviceBehaviors>
              <behavior name="restfulServiceBehaviour">
                  <serviceMetadata  httpGetEnabled ="True"/>
                  <serviceDebug includeExceptionDetailInFaults ="True"/>
              </behavior>
          </serviceBehaviors>
      </behaviors>
      <services>
          <service name="Tests.Api.QuestionsService"
                   behaviorConfiguration ="restfulServiceBehaviour">
              <endpoint address=""
                        behaviorConfiguration="restfulEndpointBehaviour"
                        contract="Tests.Api.IQuestionsService"
                        binding="webHttpBinding">
              </endpoint>
              <host>
                  <baseAddresses>
                      <add  baseAddress="http://localhost/questions" />
                  </baseAddresses>
              </host>
          </service>
      </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
