@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

<div class="row container" id="loading" style="display: none">
    <div class="alert alert-info text-center">Loading...</div>
</div>

<div class="row container">
    @Ajax.ActionLink("Load More...", (string)ViewBag.AjaxPagingAction, new { area = (string)@ViewBag.AjaxPagingArea, page = 0 },
    new AjaxOptions
    {
        UpdateTargetId = "items-list",
        LoadingElementId = "loading",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.InsertAfter,
        OnSuccess = "onLoadMoreTrainingsSuccess",
        OnBegin = "onLoadMoreTrainingsBegin"
    }, new { @class = "btn btn-info btn-lg btn-block", id = "loadMoreTrainings" })
</div>

@section Scripts {
    <script id="ajax-pager">
        var nextPage = 1;
        var loadMoreTrainingsBtn = jQuery('#loadMoreTrainings');
        loadMoreTrainingsBtn.on('click', function () {
            var hrefString = loadMoreTrainingsBtn.attr('href').replace('page=' + (nextPage - 1), 'page=' + nextPage);
            console.log(hrefString);
            loadMoreTrainingsBtn.attr('href', hrefString);
            nextPage++;
        });

        function onLoadMoreTrainingsSuccess(data) {
            if (data === null || data.trim() === '') {
                loadMoreTrainingsBtn.text('No more');
                loadMoreTrainingsBtn.addClass('disabled');
            }

            loadMoreTrainingsBtn.show();
        }

        function onLoadMoreTrainingsBegin() {
            loadMoreTrainingsBtn.hide();
        }
    </script>

    @RenderSection("scripts", required: false)
}
