doctype
html
    head
        title PhonesShop
        link(rel="stylesheet" href="public/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css")

    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false")
                        span(class="sr-only">Toggle navigation)
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a.navbar-brand(href="/") HOME
                .collapse.navbar-collapse#main-nav
                    ul.nav.navbar-nav
                        each item in ['tablets', 'wearables', 'phones']
                            li
                                a(href='/' + item) 
                                    = item

        block main-content

        footer
            p.text-center
                | &copy; TelericAcademy View Engines Homework
        
        script(type="text/javascript" src="public/lib/jquery/jquery-2.1.4.min.js")
        script(type="text/javascript" src="public/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js")