<h4>
    Add new message to thread.
</h4>
    <textarea rows="7" cols="55" placeholder="message text" id="tb-message-text"></textarea>
<div class="row">
    <div class="col-sm-3">
        <button id="btn-add-message" class="btn btn-default">Add</button>
    </div>
</div>
