<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TicTacToeApp</title>
    <!-- libs -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="lib/jQueryUI/jquery-ui.min.css">
    <link rel="stylesheet" href="lib/toastr/toastr.min.css">

    <!-- kendo -->
    <!-- <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common.min.css" type="text/css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.default.min.css" type="text/css" /> -->
    
    <!-- custom style -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="MyApp" ng-controller="PageController as pc" ng-cloak>

    <div class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header col-md-3">
                <a href="#/home" class="navbar-brand">My App</a>
            </div>

            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav pull-right" ng-if="!pc.globallyLoggedInUser">
                <li> <a href="#/register-user">Register</a> </li>
                <li> <a href="#/login-user">Login</a> </li>
            </ul>

            <ul class="nav navbar-nav pull-right" ng-if="pc.globallyLoggedInUser">
                <li> <a href="#/">{{pc.globallyLoggedInUser}}</a> </li>
                <li> <a href="#/home" ng-click="pc.logout()">Logout</a> </li>
            </ul>

        </div>
    </div>

    <div class="container" ng-view>

    </div>

    <footer class="text-center">
        <hr />
        <small>
            Author: {{pc.author}} &nbsp&nbsp&nbsp Year: {{pc.year}}
        </small>
    </footer>

    <!-- angular -->
    <script src="lib/jQuery/jquery-2.1.4.min.js"></script>
    <script src="lib/angular/angular-1.4.8/angular.min.js"></script>
    <script src="lib/angular/angular-1.4.8/angular-resource.min.js"></script>
    <script src="lib/angular/angular-1.4.8/angular-route.min.js"></script>
    <script src="lib/angular/angular-1.4.8/angular-cookies.min.js"></script>

    <!-- kendo -->
    <!-- <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.core.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.calendar.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.popup.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.datepicker.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.timepicker.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.datetimepicker.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.angular.min.js"></script> -->

    <!-- other libraries -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jQueryUI/jquery-ui.min.js"></script>
    <script src="lib/toastr/toastr.min.js"></script>

    <!-- app -->
    <script src="app/app.js"></script>
    <!-- common controllers-->
    <script src="app/common/controllers/page-controller.js"></script>
    <!-- common directives-->
    <script type="text/javascript" src="app/common/directives/datepicker.js"></script>
    <!-- common filters -->
    <script src="app/common/filters/status-filter.js"></script>
    <!-- common services -->
    <script src="app/common/services/data-service.js"></script>
    <script src="app/common/services/notifier-service.js"></script>

    <!-- identity service-->
    <script src="app/identity/auth-service.js"></script>
    <script src="app/identity/identity-service.js"></script>
    <script src="app/identity/login-user-page/login-controller.js"></script>
    <script src="app/identity/register-user-page/register-controller.js"></script>

    <!-- home page-->
    <script src="app/home-page/home-controller.js"></script>
    <script src="app/home-page/stats-service.js"></script>

</body>

</html>
