<div class="row">
   <div class="col-md-6">

      <form class="form-horizontal" name="loginForm">

         <fieldset>

            <legend class="col-md-offset-2">Login user</legend>

            <div class="form-group">
               <label for="email" class="col-lg-2 control-label">Email</label>
               <div class="col-lg-10">
                  <input ng-model="user.username" required="required" type="email" class="form-control form-validation" id="email" placeholder="Mail">
               </div>
            </div>

            <div class="form-group">
               <label for="password" class="col-lg-2 control-label">Password</label>
               <div class="col-lg-10">
                  <input ng-model="user.password" required="required" type="password" class="form-control form-validation" id="password" placeholder="Password">
               </div>
            </div>

         </fieldset>

         <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
               <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
               <button ng-click="vm.loginUser(user, loginForm)" ng-disabled="loginForm.$invalid" class="btn btn-primary">Login</button>
            </div>
         </div>

      </form>

   </div>
</div>
