<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>MusicApp</title>
   <!-- libs -->
   <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="lib/jQueryUI/jquery-ui.min.css">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
   <!-- custom style -->
   <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="musicApp" ng-controller="PageController as pc" ng-cloak>

   <div class="navbar navbar-default">
      <div class="container">

         <div class="navbar-header col-md-2">
            <a href="/" class="navbar-brand">Music App</a>
         </div>

         <ul class="nav navbar-nav">
            <li ng-if="pc.globallyLoggedInUser"> <a href="#/add-artist">Add artist</a> </li>
            <li> <a href="#/list-artists">List artists</a> </li>
         </ul>

         <ul class="nav navbar-nav pull-right" ng-if="!pc.globallyLoggedInUser">
            <li> <a href="#/register-user">Register</a> </li>
            <li> <a href="#/login-user">Login</a> </li>
         </ul>

         <ul class="nav navbar-nav pull-right" ng-if="pc.globallyLoggedInUser">
            <li> <a href="#/">{{pc.globallyLoggedInUser}}</a> </li>
            <li> <a href="#/home" ng-click="pc.logout()">Logout</a> </li>
         </ul>

      </div>
   </div>

   <div class="container" ng-view>

   </div>

   <footer class="text-center">
      <hr />
      <small>
            Author: {{pc.author}} &nbsp&nbsp&nbsp Year: {{pc.year}}
        </small>
   </footer>

   <!-- libs -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>

   <script src="lib/bootstrap/js/bootstrap.min.js"></script>
   <script src="lib/jQueryUI/jquery-ui.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

   <!-- app -->
   <script src="app/app.js"></script>

   <!-- common controllers-->
   <script src="app/common/controllers/PageController.js"></script>

   <!-- common directives-->
   <script type="text/javascript" src="app/common/directives/datepicker.js"></script>

   <!-- common filters -->
   <script src="app/common/filters/statusFilter.js"></script>

   <!-- common services -->
   <script src="app/common/services/artistDataSvc.js"></script>

   <!-- add artist -->
   <script src="app/add-artist-page/AddArtistController.js"></script>

   <!-- artist details -->
   <script src="app/artist-details-page/ArtistDetailsController.js"></script>

   <!-- list artists -->
   <script src="app/list-artists-page/ListArtistsController.js"></script>
   <script src="app/list-artists-page/artist-search.js"></script>

   <!-- register user -->
   <script src="app/register-user-page/RegisterUserController.js"></script>

   <!-- login user -->
   <script src="app/login-user-page/LoginController.js"></script>

   <!-- identity -->
   <script src="app/identity/auth-service.js"></script>
   <script src="app/identity/identity-service.js"></script>

</body>

</html>
