@model BikeShop.Models.ArticleViewModel

@{
    ViewBag.Title = "Article";
}

<h1>Details for article</h1>
<h2>@Model.Title</h2>
<p class="lead">Id: @Model.Id</p>
<p class="lead">Content</p>
<p>@Model.Content</p>
