<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hello World</title>
</head>

<body ng-app="myApp">
    <div ng-controller="HomeController as vm">
        <input type="text" ng-model="vm.user.username">
        <input type="password" ng-model="vm.user.password">

        <button ng-click="vm.submit(vm.user)">submit</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', [])
            .controller('HomeController',['$sce', function($sce) {
                var vm = this;
                vm.submit = function (user) {
                    console.log(user.username);
                }
            }]);
    </script>
</body>

</html>
