doctype
html
    head
        title WebServerXplorer
        include css
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
                        span(class="sr-only">Toggle navigation)
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a.navbar-brand(href="/") HOME
                .collapse.navbar-collapse#navbar-collapse-1
                    ul.nav.navbar-nav
                        if (currentUser)
                            li
                                a(href="/profile") #{currentUser.username}
                            li
                                a(href="/logout") Logout
                        else
                            li
                                a(href="/register") Register
                            li
                                a(href="/login") Login
                        li
                            a(href="/files") Storage

        .container
            if (errorMessage)
                div.alert.alert-danger !{errorMessage}

            if (successMessage)
                div.alert.alert-success !{successMessage}

            block main-content

        footer
            p.text-center
                | &copy; Telerik Academy 2014

        include scripts