<div class="container">
    <div class="row">
        <h1 class="col-sm-9">
                        Simple forum ...
                    </h1>
        <div id="login-controls" class="col-sm-3">
            <span id="user-greet"></span>
            <a href="#/login" id="btn-go-to-login" class="btn btn-primary">Login or Register</a>
            <button id="btn-logout" class="btn btn-primary">Logout</button>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <ul class="nav navbar-default">
        <li><a class="btn btn-primary" href="#/">home</a></li>
        <li><a class="btn btn-primary" href="#/threads">threads</a></li>
        <li><a class="btn btn-primary" href="#/users">users</a></li>
    </ul>
</nav>
