<div class="login">
    <div class="login-screen">
        <div class="login-form">
            <div id="register-inputs">
                <div class="form-group">
                    <input name="username" type="text" class="form-control login-field" value="" placeholder="Username" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
            </div>
            <a class="btn btn-success btn-lg btn-block" id="login-submit">Log in</a>
            <a class="login-link" href="#/register">You don't have an account? Register here!</a>
        </div>
    </div>
</div>