@model HikingPlanAndRescue.Web.Areas.Private.Models.TrainingResolutions.ResolutionViewModel
<div class="well">
    <p>@Model.Comment</p>
    <p>Added by: @Model.User.Email</p>
    <p>
        <small>@Model.CreatedOn</small>
    </p>
</div>