
@{
    ViewBag.Title = "HikingPlanAndRescue";
}

<h1 class="text-center text-info">@ViewBag.Title</h1>
<hr />

<div class="col-md-4 well-lg text-center">
    <a href="/private/trainings/create" class="btn btn-block btn-info">
        <h1>Plan</h1>
        <p>your next adventure!</p>
    </a>
</div>

<div class="col-md-4 well-lg text-center">
    <a href="/private/trainings" class="btn btn-block btn-warning">
        <h1>Analyze</h1>
        <p>your training performance!</p>
    </a>
</div>

<div class="col-md-4 well-lg text-center">
    <a href="/private/checkedintrainings" class="btn btn-block btn-success">
        <h1>Help</h1>
        <p>others if in need!</p>
    </a>
</div>

