@model IEnumerable<SimpleTwitter.Data.Models.Tweet>

@{
    ViewBag.Title = "MyTweets";
}

<h2>MyTweets</h2>

@Html.Partial("_ListTweets", Model)

<div>
    @Html.ActionLink("Back to Tweets", "Index")
</div>
