<h2>
    Login/Register form
</h2>
<input type="text" placeholder="Username" class="form-control col-sm-3" id="tb-user">
<input type="text" placeholder="Password" class="form-control col-sm-3" id="tb-pass">
<div class="row">
    <button id="btn-login" class="btn btn-default col-sm-6">Login</button>
    <button id="btn-register" class="btn btn-default col-sm-6">Register</button>
</div>
