<div class="center-block login-form">
    <h5 class="add-book-heading">Share new cookie</h5><br>
    <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Cookie title" id="cookie-title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="category" placeholder="Cookie category" id="cookie-category">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="image" placeholder="Cookie Image URL" id="cookie-img">
    </div>

    <p>&nbsp;</p>
    <a id="share-cookie" class="btn btn-primary btn-lg btn-bloc">Share cookie</a>
</div>