<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISubstringsCountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56756/SubstringsCountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubstringsCountService"
                contract="SubstringsCountService.ISubstringsCountService"
                name="BasicHttpBinding_ISubstringsCountService" />
        </client>
    </system.serviceModel>
</configuration>