<div class="row">
   <div ng-repeat="game in vm.games" class="jumbotron row">

      <p><strong>GameId:</strong> {{game.Id}}</p>
      <p><strong>FirstPlayer:</strong> {{game.FirstPlayer}} </p>
      <p><strong>SecondPlayer:</strong> {{game.SecondPlayer}} </p>
      <p><strong>Status:</strong> {{game.Status | gameState}}</p>

      <!-- <a class="btn btn-success" ng-click="vm.enter(game)">Enter</a> -->
      <a href="#/game/{{game.Id}}" class="btn btn-success">Enter</a>
      <a href="" class="btn btn-danger" ng-click="vm.delete(game)">Delete</a>

   </div>
</div>
