<div class="jumbotron">
    <div class="container">
        <div class="wrapper">
            <h1>Super awesome<br>Cookie Application</h1>
            <p>Keep in mind that this application uses SessionStorage!</p>
            <p>
                <a class="btn btn-success btn-lg" href="http://www.clickypix.com/wp-content/uploads/2013/08/random-photos72.jpg" target="_blank" role="button"><span class="fui-github"></span> Take over the world</a>
                <a class="btn btn-success btn-lg" href="http://www.funcatpictures.com/wp-content/uploads/2013/10/funny-cat-pics-internet-high-five.jpg" target="_blank" role="button"><span class="fui-document"></span> Give 1 point for awesomeness</a>
            </p>
        </div>
    </div>
</div>
<div id="cookies-container">

</div>