html, body, nav, main, aside, ul, a, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    border: 1px solid black;
    background-color: #f1f1f1;
    margin: 3px 1px;
    width: 788px;
    padding: 2px;
    font-family: Arial;
    font-size: 12px;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
}

body > nav {
    float: left;
    width: 17.8%;
    padding: 15px 0 0 0;
    background-image: url('images/home-icon.PNG');
    background-repeat: no-repeat;
    background-position: 0 13px;
}

    body > nav a {
        text-decoration: none;
        color: black;
    }

        body > nav a:hover {
            text-decoration: underline;
        }

    body > nav > a {
        font-size: 11px;
        font-weight: bold;
        padding-left: 19px;
        position: relative;
        top: 1px;
    }

    body > nav > ul {
        list-style: none;
    }

        body > nav > ul > li {
            font-size: 12px;
            margin-top: 12px;
            color: #8a0000;
            font-weight: bold;
        }

            body > nav > ul > li:first-of-type {
                margin-top: 11px;
            }

            body > nav > ul > li > ul {
                font-size: 11px;
                line-height: 13px;
                font-weight: normal;
            }

body > main {
    float: left;
    border: 1px solid #9e9e9e;
    width: 63.4%;
    margin-right: .3%;
    background-color: white;
    padding: 19px 5px 5px 5px;
}

    body > main a {
        color: #870000;
    }

    body > main > header {
        font-size: 9px;
        padding-bottom: 7px;
        border-bottom: 1px solid black;
    }

        body > main > header h1 {
            margin-bottom: 11px;
        }

    body > main button {
        height: 20px;
        width: 100px;
        font-size: 10px;
        text-align: left;
        padding: 1px;
        background-color: white;
        border: 1px solid black;
    }

        body > main button.next {
            text-align: right;
        }

    body > main > section {
        margin: 6px 0;
    }

        body > main > section > header {
            color: white;
            background-color: #808080;
            font-size: 8px;
            padding-left: 5px;
            padding-top: 1px;
        }

        body > main > section img {
            float: left;
            margin-top: 7px;
            margin-right: 14px;
        }

        body > main > section h3 {
            margin-top: 16px;
            font-size: 12px;
        }

        body > main > section p {
            font-weight: bold;
            font-size: 12px;
        }

        body > main > section:first-of-type {
            padding-bottom: 25px;
        }

    body > main > footer {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-top: 8px;
        padding-top: 6px;
        padding-bottom: 8px;
        margin-bottom: 30px;
    }

body > aside {
    float: left;
    width: 18.45%;
    text-align:center;
}

    body > aside a {
        color: #870000;
    }

    body > aside h2 {
        color: white;
        background-color: #808080;
        font-size: 12px;
        padding-top: 1px;
        text-align:center;
        margin-bottom: 7px;
    }

    body > aside input {
        width:90px;
        height: 13px;
    }

    body > aside ul {
        margin: 3px 0;
        list-style:none;
    }

    body > aside button {
        padding: 0 0 0 0;
        height: 17px;
    }

    body > aside button.styled-button {
        margin: 5px 0 0 0;;
        width: 100px;
        height: 30px;
        color: #43cefe;
        background-color: #cdedfd;
        border: 1px solid #679bc2;
    }

body aside section {
    background-color: white;
    border: 1px solid #9e9e9e;
    padding-bottom:1px;
    margin-bottom: 1px;
}
